.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
config/dev.env.js
config/prod.env.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
src/components/camelot/char_demo.json

# Test coverage
coverage/
