@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5); // Add this line
}

#main-navbar {
  color: #a7a9ac;
  font-size: 16px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, .25);

  .navbar-brand {
    font-style: italic;
  }
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.workspace-header {
  background-color: #EEE;
}

.btn-info,
.btn-primary,
.btn-success,
.btn-success.disabled {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-info:hover,
.btn-outline-info:hover,
.btn-success:hover,
.btn-outline-success:hover,
.btn-primary:hover,
.btn-outline-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #286090;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  -webkit-box-shadow: 0 0 0 .2rem #28609040;
  box-shadow: 0 0 0 .2rem #28609040;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle {
  -webkit-box-shadow: 0 0 0 .2rem #28609040;
  box-shadow: 0 0 0 .2rem #28609040;
}

.btn-outline-info,
.btn-outline-primary,
.btn-outline-success {
  color: #337ab7;
  border-color: #337ab7;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  border-color: #337ab7;
  background-color: #286090;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem #28609040;
  box-shadow: 0 0 0 .2rem #28609040;
}

.btn-outline-info:active,
.btn-outline-primary:active,
.btn-outline-success:active {
  color: #337ab7;
  border-color: #337ab7;
}

.btn-info:focus,
.btn-primary:focus,
.btn-success:focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  box-shadow: 0 0 0 0.2rem rgba(51, 122, 183, 0.5);
}

.btn-outline-info:focus,
.btn-outline-primary:focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 122, 183, 0.5);
}

.tabs.link-steps.nowrap {
  flex-wrap: nowrap;
}

.tabs.link-steps {
  .w-15 {
    width: 15%;

    ul.card-header {
      padding: 0.25rem;
    }
  }
}

.w-85 {
  width: 85%;
}

#ch-table.table.b-table,
#as-table.table.b-table {
  tbody tr {
    td:first-child {
      width: 6%;
    }

    td:nth-child(2) {
      width: 20%;
    }
  }
}

#modal-evidence-profile-form {
  .modal-dialog {
    max-width: 98% !important;
  }
}

@media (min-width: 576px) {
  .modal-xl {
    max-width: fit-content;
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .modal-xl {
    max-width: fit-content;
    margin: 1rem;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    max-width: fit-content;
    margin: 1rem;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: fit-content;
    margin: 1rem;
  }
}